@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Fragment+Mono:ital@0;1&display=swap");
@import "tailwindcss";

:root {
  color-scheme: light dark;
}

html,
body {
  scroll-behavior: smooth;
  background-color: light-dark(#e2e2e2, #212121);
  overflow: visible;
  width: 100%;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.07) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.07) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

::-webkit-scrollbar {
  width: 5px;
  /* For vertical scrollbars */
}

::-webkit-scrollbar-thumb {
  background-color: light-dark(#5e37d3, #a78bfa);
  border-radius: 10px;
}

h1 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 36px;
  text-align: center;
  border-bottom: 2px solid light-dark(#3f3f3f, #c5c5c5);
}

p {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  color: rgba(255, 255, 255, 0.7);
}

/* side bar major */

.discription > div {
  padding: 20px;
  background-color: light-dark(#aaaaaa, #212121);
  box-shadow: 20px 20px 60px #0d0d0d, -20px -20px 60px #353535;
}

.sidebar {
  background-color: light-dark(#aaaaaa, #212121);
  box-shadow: 20px 20px 60px #0d0d0d, -20px -20px 60px #353535;
}

.links > ul > li > a {
  font-family: "Edu AU VIC WA NT Pre", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2rem;
  display: block;
  text-align: center;
  margin-block: 2rem !important;
  color: light-dark(#5e37d3, #a78bfa);
}

.links > ul > li > a:hover {
  text-decoration: underline;
}

svg {
  display: inline;
  align-self: center;
  justify-self: center;
}

/* intro section */

.intro {
  height: 90vh;
}

/* project section css */
.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.project {
  height: 480px;
  max-height: 600px;
  border-radius: 5px;
  background-color: #121212;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.051),
    rgba(255, 255, 255, 0.051)
  );
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  margin: 0.8rem;
}

.project > .text-box {
  padding: 16px;
  height: full;
}

.text-box > a {
  display: block;
  color: light-dark(#5e37d3, #a78bfa);
  margin-bottom: 8px;
}

.text-box > a:hover {
  border-color: #5e37d3;
}

/* language section css */
.lang_grid > div {
  padding: 4px;
  border-radius: 6px;
}

.lang_grid > div > h2 {
  color: rgb(175, 114, 224);
  font-size: 1.5rem;
  border-bottom: 1px solid #18c4c4;
  margin-bottom: 12px;
}

.lang_grid > div > p {
  position: relative;
  color: #eeeeee;
  border-radius: 4px;
  padding: 4px 6px;
  margin: 2px;
}

.lang_grid > div > p::before {
  content: "";
  position: absolute;
  display: inline-flex;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  border-left: 50px solid #0ff040;
  border-right: 50px solid #00d9ff;
}

.lang_grid > div > p:hover::before {
  animation: exapnd 4s infinite alternate ease-in-out;
}

@keyframes exapnd {
  0% {
    left: 0;
    right: unset;
    width: 50px;
  }
  50% {
    width: 100%;
  }
  100% {
    left: unset;
    right: 0;
    width: 50px;
  }
}

/* media querries for sreen sixe below 768 px */
@media screen and (max-width: 768px) {
  .intro {
    height: auto;
  }

  .links ul li a {
    font-size: 20px;
  }

  .box {
    display: flex;
    flex-direction: column;
  }

  .project {
    height: auto;
  }

  .img-box {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
}

/* media querries for sreen sixe below 640 px */
@media screen and (max-width: 640px) {
  .discription > div {
    margin-bottom: 2rem;
    padding: 20px;
  }

  .links ul li a {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 50%;
    background-color: light-dark(#252525, #444444);
  }

  .projects {
    height: min-content !important;
  }

  .contact {
    margin-bottom: 8rem !important;
  }
}
